# Toolchain folders
node_modules
dist
.tmp
.sass-cache
bower_components
test
app/dist
.yo-rc.json
*.log
.bowerrc

# Editor workspace files
.idea
.vscode
.sublime-*

# System cache and configs
.directory
.DS_*
